// Playback Controller Styles

.timeline-grid__control-bar {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 0 5px;
  background: #f6f6e7;
  border-top: 1px solid #b0b0b0;
  font-size: 12px;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.timeline-grid__ctrl-btn {
  background: #fff;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  padding: 0 2px;
  height: 22px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #f0f0f0;
  }

  &:active {
    background: #e0e0e0;
  }
}

.timeline-grid__ctrl-sep {
  width: 1px;
  height: 18px;
  background: #b0b0b0;
  margin: 0 4px;
}

.timeline-grid__scrollbar-container {
  flex: 1;
  height: 18px;
  position: relative;
  margin-left: 5px;
}

.timeline-grid__control-bar label {
  font-size: 12px;
  margin-right: 2px;
  font-weight: 500;
  color: #333;
}

.timeline-grid__unit {
  font-size: 12px;
  margin-right: 5px;
  margin-left: -3px;;
  color: #333;
}
